*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 100vh;
  width: 100%;
  padding: 0;
  position: absolute;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 100px;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
img {
  width: 100%;
}
body {
  width: 100%;
  height: 100vh;
  display: flex; /*want to set the card in the middle*/
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #3f3d56 0%, #ff6368 100%);
  padding: 0 1.5rem;
}
.nav-links {
  width: 100%;
  max-width: 2000px;
  padding: 10px;
  display: flex;
  align-items: right;
  justify-content: right;
}
.nav-links li {
  display: inline-block;
  justify-content: flex-end;
  margin: 0 15px;
}
.nav-links li a {
  text-decoration: wavy;
  color: black;
  padding: 5px 0;
  font-size: 30px;
  position: relative;
}
.nav-links li a::after {
  content: "";
  background: black;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}
.nav-links li a:hover::after {
  width: 100%;
}
  
  #right-nav {
  float:left;
  width:100%;
  background-color:#ff6368;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:3px solid #ff6368;
  margin-top:10px;
  }
  
  .post-text {
  width:99%;
  height:150px;
  border:3px solid #73cfff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size:19px;
  text-indent:5px;
  }
  
  .btn-add-photo {
  color:#ffffff;
  font-size:19px;
  width:200px;
  line-height:30px;
  background-color:#0bacff;
  border:2px solid #0bacff;
  border-radius:100px;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  -o-border-radius:100px;
  }
  
  .btn-add-photo:hover {
  color:#ffffff;
  background-color:#0488cd;
  border:2px solid #0488cd;
  }
  
  .btn-share {
  color:#ffffff;
  font-size:19px;
  float:right;
  width:100px;
  line-height:30px;
  background-color:#3f3d56;
  border:2px solid #ff6368;
  border-radius:100px;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  -o-border-radius:100px;
  }
  
  .btn-share:hover {
  color:#ff6368;
  background-color:#3f3d56;
  border:2px solid #ff6368;
  }
  
  #right-nav1 {
  margin-top: 10px;
  width: 65.5%;
  background-color:#3f3d56;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:3px solid linear-gradient(to bottom, #ff6368 0%, #3f3d56 100%);
  height: auto;
  padding: 7px;
  }
  
  .profile-pics {
  position:relative;
  }
  
  .profile-pics img {
  width:70px;
  height:70px;
  border:2px solid #CCCCCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
  
  .profile-pics b {
  color:#000000;
  margin-left:16px;
  font-size:23px;
  }
  
  .profile-pics strong {
  color:#000000;
  margin-left:10px;
  font-size:20px;
  }
  
  .post-content {
  width:100%;
  border:2px solid #CCCCCC;
  }
  
  .post-content p {
  text-indent:10px;
  font-size:23px;
  }
  
  .post-content img {
  border:3px solid #CCCCCC;
  width:50%;
  height:50%;
  }
  
  .delete-post {
  float:right;
  margin-right:5px;
  margin-top:5px;
  }
  
  .btn-delete {
  color:#ffffff;
  font-size:40px;
  float:right;
  width:100%;
  height:100%;
  background-color:#ff6368;
  border:1px solid #3f3d56;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  }
  
  
  .btn-delete:hover {
  color:#000000;
  font-size:40px;
  width:100%;
  height:100%;
  font-weight:bold;
  background-color:#ff6368;
  border:1px solid #3f3d56;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  }
  
  .comment-area {
  width:70%;
  background-color:#3f3d56;
  border:1px solid #cccccc;
  padding:3px;
  margin-top:10px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  }
  
  .comment-area img {
  width:10%;
  height:10%;
  }
  
  .user-comment-name {
  font-weight:bold;
  font-size:20px;
  color:#000000;
  font-size:22px;
  text-indent:5px;
  }
  
  .user-comment-name img {
  width:70px;
  height:70px;
  margin-top:10px;
  border:3px solid #CCCCCC;
  border-radius:9px;
  }
  
  .time-comment {
  font-size:15px;
  color:#000000;
  margin-left:15px;
  }
  
  .comment {
  font-size:18px;
  color:#000000;
  text-indent:15px;
  margin-top:5px;
  margin-bottom:5px;
  }
  
  .picture-comment img {
  width:10%;
  height:10%;
  }
  
  .comment-text {	
  border:1px solid #ffffff;
  font-size:19px;
  text-indent:5px;
  width:350px;
  }
  
  .comment-display {
  width:100%;
  background-color:#ffffff;
  border:2px solid #cccccc;
  margin-top:10px;
  }
  
  .btn-comment {
  color:#ffffff;
  font-size:20px;
  width:70px;
  background-color:#ff6368;
  border:1px solid #3f3d56;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  }
  
  
  .btn-comment:hover {
  color:#000000;
  font-size:20px;
  width:70px;
  font-weight:bold;
  background-color:#ff6368;
  border:1px solid #3f3d56;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  }
.logout {
  border-radius: 30px;
  border-color: #ff6368;
  background: #ff6368;
  color: black;
  font-size: 30px;
  padding: 10px 30px;
  cursor: pointer;
}
@media screen and (max-width: 1068px) {
  .pet-posts {
    max-width: 80rem;
  }
  .pet-posts__img {
    min-width: 20rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 868px) {
  .pet-posts {
    max-width: 70rem;
  }
}
@media screen and (max-width: 768px) {
  .pet-posts {
    padding: 2.5 rem;
    flex-direction: column;
  }
  .pet-posts__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, 0rem);
  }
}
