* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 100vh;
  width: 100%;
  position: absolute;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  /********************************/
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 100px;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
body {
  background-color: rgba(255, 225, 225, 0.827);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}
.card {
  width: 70%;
  height: 35%;
  background-image: linear-gradient(
    0deg,
    rgba(255, 225, 225, 0.827) 0%,
    #3f3d56 40%
  );
  display: flex;
  flex-direction: row;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 98%;
}
.profile {
  width: 80%;
  height: 85%;
}
.details {
  width: 60%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text {
  margin-top: 20px;
  line-height: 20px;
  border-collapse: separate;
  border-spacing: 0 15px;
  font-weight: 600;
  font-size: 25px;
}
.description {
  margin-top: 8px;
}
.nav-links {
  width: 100%;
  max-width: 2000px;
  padding: 10px;
  display: flex;
  align-items: right;
  justify-content: right;
}
.nav-links li {
  display: inline-block;
  justify-content: flex-end;
  margin: 0 15px;
  padding: 5px;
}
.nav-links li a {
  text-decoration: wavy;
  color: black;
  padding: 5px 0;
  font-size: 30px;
  position: relative;
}
.nav-links li a::after {
  content: "";
  background: black;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}
.nav-links li a:hover::after {
  width: 100%;
}
.logout {
  color: black;
  font-size: 30px;
  padding: 10px 30px;
  cursor: pointer;
}
.logout:hover {
  border-radius: 30px;
  background-image: linear-gradient(
    5deg,
    rgba(255, 225, 225, 0.827) 20%,
    #3f3d56 70%
  );
}
.post {
  background: red;
  font-weight: 600;
  border-radius: 20px;
  display: inline;
  position: absolute;
  top: 50;
  right: 50;
  font-size: 30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: blue;
  color: white;
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  width: 20%;
  height: 20%;
}
.pet-posts {
  width: 100%;
  max-width: 2000px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}
.pet-posts__img {
  min-width: 20rem;
  max-width: 50rem;
  height: 30rem;
  transform: translateX(-50px); /*overlap*/
  position: relative;
}
.pet-posts__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10%;
}
.pet-posts__img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0.5rem 0.5rem 3rem 1px;
  border-radius: 0;
}
.pet-posts__date span {
  display: block; /*on top of each other*/
  font-size: 20px;
  color: black;
  margin: 0.5rem 0;
  padding: 0px;
}

.pet-posts__title {
  font-size: 40px;
  margin: 0px 0 20px;
  color: black;
  padding: 0px;
}
.pet-posts__text {
  margin-bottom: 48px;
  font-size: 20px;
  padding: 0px;
}
.pet-posts__cta {
  display: inline-flex;
  padding: 20px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  background: linear-gradient(to bottom, #3f3d56 0%, #ff6368 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}
.pet-posts__cta:hover {
  background: linear-gradient(to bottom, #ff6368 0%, #3f3d56 100%);
}
.clip1 {
  margin-top: 10px;
  margin-left: 15px;
  position: relative;
  width: 95px;
  height: 100px;
  border: solid 2px #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.clip1 img {
  width: 95px;
  height: 100px;
  margin: auto;
  left: -15px;
}

.user-details {
  width: 200px;
  margin: -50px 0 0 125px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.user-details h3,
h2 {
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
}

#right-nav {
  float: left;
  width: 100%;
  background-color: red;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 3px solid #ff6368;
  margin-top: 10px;
}

.post-text {
  width: 99%;
  height: 150px;
  border: 3px solid rgba(255, 225, 225, 0.827);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 19px;
  text-indent: 5px;
}

.btn-share {
  color: #ffffff;
  font-size: 19px;
  float: right;
  width: 100px;
  line-height: 30px;
  background-color: #ff6368;
  border: 2px solid #ff6368;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
}

.btn-share:hover {
  color: #ff6368;
  background-color: #3f3d56;
  border: 2px solid #3f3d56;
}

#right-nav1 {
  margin-top: 10px;
  width: 97.5%;
  background-color: #3f3d56;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: linear-gradient(
    5deg,
    rgba(255, 225, 225, 0.827) 20%,
    #3f3d56 70%
  );
  height: auto;
  padding: 7px;
}

.profile-pics {
  position: relative;
}

.profile-pics img {
  width: 70px;
  height: 70px;
  border: 2px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.profile-pics b {
  color: #000000;
  margin-left: 16px;
  font-size: 23px;
}

.profile-pics strong {
  color: #000000;
  margin-left: 10px;
  font-size: 20px;
}

.post-content {
  width: 100%;
  border: 2px solid #cccccc;
}

.post-content p {
  text-indent: 10px;
  font-size: 23px;
}

.post-content img {
  border: 3px solid #cccccc;
  width: 50%;
  height: 50%;
}

.delete-post {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.btn-delete {
  color: #ffffff;
  font-size: 25px;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 225, 225, 0.827);
  border: 1px solid #3f3d56;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-delete:hover {
  color: #000000;
}
h1 {
  color: black;
  font-size: 20px;
}
.comment-area {
  width: 70%;
  background-color: #3f3d56;
  border: 1px solid #cccccc;
  padding: 3px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

.comment-area img {
  width: 10%;
  height: 10%;
}

.user-comment-name {
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  font-size: 22px;
  text-indent: 5px;
}

.user-comment-name img {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  border: 3px solid #cccccc;
  border-radius: 9px;
}

.time-comment {
  font-size: 15px;
  color: #000000;
  margin-left: 15px;
}

.comment {
  font-size: 18px;
  color: #000000;
  text-indent: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.picture-comment img {
  width: 10%;
  height: 10%;
}

.comment-text {
  border: 1px solid #ffffff;
  font-size: 19px;
  text-indent: 5px;
  width: 350px;
}

.comment-display {
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  margin-top: 10px;
}

.btn-comment {
  color: #ffffff;
  font-size: 20px;
  width: 70px;
  background-color: #ff6368;
  border: 1px solid #3f3d56;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-comment:hover {
  color: #000000;
  font-size: 20px;
  width: 70px;
  font-weight: bold;
  background-color: #ff6368;
  border: 1px solid #3f3d56;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
@media screen and (max-width: 1068px) {
  .pet-posts {
    max-width: 80rem;
  }
  .nav-links li a {
    font-size: 28px;
  }
  .pet-posts__img {
    min-width: 20rem;
    max-width: 30rem;
  }
  .btn-delete {
    font-size: 25px;
  }
  .btn-share {
    font-size: 20px;
  }
  .up {
    width: 100%;
    padding: 2px;
  }
  .logo {
    width: 0;
  }
  .comment-text {
    border: 1px solid #ffffff;
    font-size: 15px;
    text-indent: 5px;
    width: 45%;
  }
  .comment-display {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    margin-top: 10px;
  }
  .btn-comment {
    color: #000000;
    font-size: 15px;
    width: 20%;
    background-color: rgba(255, 225, 225, 0.827);
  }
}

@media screen and (max-width: 868px) {
  .pet-posts {
    max-width: 70rem;
  }
  .btn-delete {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .pet-posts {
    padding: 2.5 rem;
    flex-direction: column;
  }
  .logo {
    width: 0;
  }
  .profile {
    width: 120%;
    height: 100%;
  }
  .pet-posts__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, 0rem);
  }
  .comment-text {
    border: 1px solid #ffffff;
    font-size: 15px;
    text-indent: 5px;
    width: 45%;
  }

  .comment-display {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    margin-top: 10px;
  }

  .btn-comment {
    color: #000000;
    font-size: 15px;
    width: 20%;
    background-color: rgba(255, 225, 225, 0.827);
  }
  .btn-search {
    width: 60%;
    font-size: 15px;
  }
  .nav-links li {
    margin: 0 0px;
  }
}
@media screen and (max-width: 568px) {
  * {
    font-size: 15px;
  }
  .nav-links li {
    padding: 7px;
  }
  .logo {
    width: 0;
  }
  .btn-delete {
    font-size: 15px;
  }
  .btn-share {
    font-size: 12px;
  }
  .nav-links li a {
    font-size: 20px;
  }
  .comment-text {
    border: 1px solid #ffffff;
    font-size: 10px;
    text-indent: 5px;
    width: 45%;
  }
  .btn-comment {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .nav-links li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .nav-links li a {
    font-size: 12px;
  }
  .btn-search {
    width: 60%;
    font-size: 10px;
  }
  .btn-delete {
    font-size: 15px;
  }
  .btn-share {
    font-size: 10px;
  }
  .btn-comment {
    font-size: 12px;
  }
}
